APP_NAME=gocore
PORT=8080
APP_ENV=development
SHUTDOWN_TIMEOUT_SECONDS=10

DATABASE_URL=postgresql://aurora:aurora@localhost:5432/aurora?sslmode=disable

REDIS_ADDR=localhost:6379
REDIS_STREAM=video-events
REDIS_GROUP=media-workers

S3_ENDPOINT=localhost:9000
S3_REGION=eu-central-1
S3_ACCESS_KEY=rustfsadmin
S3_SECRET_KEY=rustfsadmin
S3_USE_SSL=false
S3_BUCKET_UPLOADS=aurora-uploads
S3_BUCKET_PROCESSED=aurora-processed
